@model AvailableRoomListModel

<!-- Start Best Seller Area -->
<section class="wn__bestseller__area bg--white pt--80  pb--30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section__title text-center">
                    <h2 class="title__be--2">All <span class="color--theme">Rooms</span></h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered lebmid alteration in some ledmid form</p>
                </div>
            </div>
        </div>
        <div class="row mt--50">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="product__nav nav justify-content-center" role="tablist">
                    <a class="nav-item nav-link active" data-toggle="tab" href="#nav-all" role="tab">ALL</a>

                    @foreach (var view in Model.listviews)
                    {
                        <a class="nav-item nav-link" data-toggle="tab" href="@string.Format("#nav-{0}",view.RoomView)" role="tab">@view.RoomView</a>
                    }


                </div>
            </div>
        </div>
        <div class="tab__container mt--60">
            <!-- Start Single Tab Content -->
            <div class="row single__tab tab-pane fade show active" id="nav-all" role="tabpanel">
                <div class="product__indicator--4 arrows_style owl-carousel owl-theme">

                    @for (int i = 0; i < Model.listAllRooms.Count() / 2; i++)
                    {
                        <div class="single__product">

                            <!--first Start Single Product -->
                            <partial name="_Room" model="@Model.listAllRooms[i]" />
                            <!-- Start Single Product -->
                            <!-- end Start Single Product -->
                            <partial name="_Room" model="@Model.listAllRooms[Model.listAllRooms.Count()-i-1]" />
                            <!-- Start Single Product -->
                        </div>

                    }
                </div>
            </div>
            <!-- End Single Tab Content -->
            <!-- Start Single Tab Content -->
            @foreach (var view in Model.listviews)
            {
                <div class="row single__tab tab-pane fade" id="@string.Format("nav-{0}",view.RoomView)" role="tabpanel">
                    <div class="product__indicator--4 arrows_style owl-carousel owl-theme">

                        @foreach (var room in Model.listAllRooms.Where(a => a.RoomView == view.RoomView))
                        {
                            <partial name="_Room" model="@room" />
                        }


                    </div>
                </div>
            }


        </div>
    </div>
</section>
<!-- Start BEst Seller Area -->
